<a href="#main" class="skip-link">Skip to content</a>

<app-gradient-background></app-gradient-background>
<app-scroll-to-top></app-scroll-to-top>

<ng-container *ngIf="showPublicShell$ | async">
  <app-navbar></app-navbar>
</ng-container>

<main id="main" class="relative">
  <router-outlet></router-outlet>
</main>

<ng-container *ngIf="showPublicShell$ | async">
  <app-footer></app-footer>
  <app-back-to-top></app-back-to-top>
  <app-campaign-flyer-modal></app-campaign-flyer-modal>
</ng-container>
